:global {
  @import 'base';
  @import 'vendor/normalize';

  html {
    box-sizing: border-box;
    font-family: 'open sans', Arial, Verdana;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: black;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Open Sans', Verdana, Arial;
  background: rgb(0,211,134);
  background: -moz-linear-gradient(top,  rgba(0,211,134,1) 0%, rgba(0,237,189,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,211,134,1) 0%,rgba(0,237,189,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,211,134,1) 0%,rgba(0,237,189,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d386', endColorstr='#00edbd',GradientType=0 );
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
