@import "../styles/core";

$input-height: 34px;

.form-add-task {
  border: 1px solid aquamarine;
  background: mediumaquamarine;
  padding: 15px;
  border-radius: 4px;
}

.form-row {
  margin-bottom: 14px;
  font-size: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-item {
  display: inline-block;
  width: 31%;
  margin-right: 14px;
  font-size: 14px;
  &:last-child {
    margin-right: 0;
  }
}

.form-control {
  width: 100%;
  height: $input-height;
  padding: 5px 8px;
  border-radius: 4px;
  &:focus {
    outline: none;
    transition: border-color 0.2s linear;
    border-top-color: darkolivegreen;
    border-left-color: darkolivegreen;
  }
}

.form-submit {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  width: 100%;
  height: $input-height;
  transition: all 0.1s linear;
  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  &:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  &:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
  }
}
