.tasks-list-item {
  list-style: round;
  color: aquamarine;
  font-size: 24px;
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}

.task {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding: 15px;
  color: black;
  border: 1px solid aquamarine;
  background: mediumaquamarine;
  border-radius: 4px;
}

.task-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.task-description {
  margin-bottom: 0;
}
